[Unit]
Description=WireGuard VPN Service
; added entware service as it provides my dns resolver
After=network-online.target nss-lookup.target connman-vpn.service time-sync.target entware.service
Wants=network-online.target nss-lookup.target connman-vpn.service time-sync.target entware.service

; Predefined variables for the pia-foss manual connections scripts
; without these the pia-foss/manual-connections scripts run interactively
; these should be save to ./.env
;
; minimum file:
;               PIA_USER=pXXXXXXX
;               PIA_PASS=p45sw0rdxx

ConditionFileNotEmpty=/path/to/scripts/.env

[Service]
Type=oneshot
RemainAfterExit=yes

; optional stuff to do before connecting
; e.g. stopping existing VPN connection, adjusting firewall, stopping 
;      any vpn dependent applications
ExecStartPre=/path/to/scripts/pre_up.sh

; no need to run pre_up.sh twice
Environment="PRE_UP_RUN=true"

; connect on success as this is non-interactive
Environment="CONNMAN_CONNECT=true"

ExecStart=/path/to/scripts/run_setup.sh

; stuff to do after connecting e.g. restarting transmission
ExecStartPost=-/path/to/scripts/post_up.sh

; disconnect from wireguard, adjust firewall, dns, stop port forward, etc.
ExecStop=/path/to/scripts/shutdown.sh

[Install]
WantedBy=multi-user.target
