[Unit]
Description=WireGuard VPN Service
; added entware service as it provides my dns resolver
After=network-online.target nss-lookup.target connman-vpn.service time-sync.target entware.service
Wants=network-online.target nss-lookup.target connman-vpn.service time-sync.target entware.service

; Predefined variables for the pia-foss manual connections scripts
; without these the pia-foss/manual-connections scripts run interactively
; minimum file:
;               PIA_USER=pXXXXXXX
;               PIA_PASS=p45sw0rdxx
;               AUTOCONNECT='false'  if this is set PREFERRED_REGION is ignored
;               PREFERRED_REGION=region from latencyList
;               VPN_PROTOCOL=wireguard
;               PIA_PF='true'
;               PIA_DNS='true'
; optional:
;               export CONNMAN_CONNECT='true'
;               export mydns=192.168.1.136

ConditionFileNotEmpty=/path/to/scripts/.env

[Service]
Type=oneshot
RemainAfterExit=yes

; connect on success as this is not interactive
Environment="CONNMAN_CONNECT=true"
; no need to run pre_up.sh twice
Environment="PRE_UP_RUN=true"

; optional stuff to do before connecting
; e.g. stopping existing VPN connection, adjusting firewall, stopping 
;      any vpn dependent applications
ExecStartPre=/path/to/scripts/pre_up.sh

ExecStart=/path/to/scripts/run_setup.sh

; stuff to do after connecting e.g. port forwarding
ExecStartPost=-/path/to/scripts/post_up.sh

; disconnect from wireguard
ExecStop=/path/to/scripts/shutdown.sh

[Install]
WantedBy=multi-user.target
